<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    </head>
    <body class="vh-100">

        <style>

.login {
    min-height: 100vh;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

        </style>

        <!-- <div class="container-fluid">
            <div class="row vh-100">
                <div class="col-5 loginRightArea">
                    Gwo Twou San Fon
                </div>
                <div class="col-7 loginLeftArea d-flex justify-content-center align-items-center">
                    <div class="p-2 bd-highlight">

                        <div class="text-center mb-5">
                            <h1>Welcome back</h1>
                            <h6 class="text-black-50">Login to your account</h5>
                        </div>

                        <form>

                            <div class="mb-3">
                                <label for="inputGroupFile01" class="fw-bold">Email Address</label>
                                <input type="email" class="form-control" id="">
                            </div>

                            <div class="mb-3">
                                <label for="inputGroupFile01" class="fw-bold">Password</label>
                                <input type="email" class="form-control" id="">
                            </div>

                            <div class="mb-3">

                            </div>

                            <small class="text-end">
                                <a href="">Forgot password?</a>
                            </small>


                        </form>

                    </div>
                </div>
            </div>
        </div> -->

        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-md-8 col-lg-5">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row m-0">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4">Welcome back!</h3>

                                    <!-- Sign In Form -->
                                    <form method="post">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>

                                        <div class="d-grid">
                                            <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="button" id="submit">Login</button>
                                            <div class="text-end">
                                                <a class="small" href="#">Forgot password?</a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-flex col-md-4 col-lg-7 bg-image loginRightArea"></div>
            </div>
        </div>

    </body>

    <script>

        document.getElementById( "submit" ).addEventListener( "click", async ( e ) => {

            e.preventDefault();

            try {

                // —— Load credentials
                const email     = document.getElementById( "floatingInput" ).value;
                const password  = document.getElementById( "floatingPassword" ).value;

                const data = { email, password };

                const res = await fetch( "./login", {
                    method  : "POST",
                    headers : { "Content-Type": "application/json" },
                    body    : JSON.stringify( data )
                } );

                console.log( res )

            } catch ( error ) {
                console.log( "Error:", error );
            }

        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


</html>