
<div class="container">

    <h1> Paramètres </h1>

    <h2 class="mt-5"> Configuration mail </h2>
    <hr>

    <div class="row">

        <div class="row">

            <div class="col-md-6">
                <form class="form-floating">
                    <input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com" value="test@example.com">
                    <label for="floatingInputInvalid">Hôte SMTP</label>
                </form>
            </div>

        </div>

    </div>

</div>
