<header>
    <h1>Température</h1>
</header>

<div id="températureContainer">
    <canvas id="chartTemp"></canvas>

    <div class="">

        <h3>Sélectionner une intervalle de temps</h3>

        <div class="form-group">

            <div class="row">
                <div class="col">
                    <label for="start">Date de début</label>
                    <input type="date" class="form-control" id="start" placeholder="Date de fin">

                </div>
                <div class="col">
                    <label for="end">Date de fin</label>
                    <input type="date" class="form-control" id="end" placeholder="Date de fin">
                </div>
            </div>

        </div>

    </div>

</div>
