<h1>Machines</h1>

<div class="container">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>status</th>
                <th>IP</th>
                <th>RAM</th>
                <th>CPU</th>
                <th>HDD</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
